/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #EA047E;
  --second-color: #FF6D28;
  --third-color: #FCE700;
  --fourth-color: #00F5FF;
  --button-color: #131118;
  --text-color: #fff;
  --body-color: #181717;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 1rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}


.wrapper{
   height: 100vh;
   margin-inline: 1.5rem;
   display: grid;
   place-items: center;
}

.button{
  position: relative;
}

.button_content{
  position: relative;
   background-color: var(--button-color);
   padding: 1rem 3rem;
   border-radius: 4rem;
   color: var(--text-color);
   font-weight: 600;
   overflow: hidden;
}

.button_content:hover{
  border: 0.15rem solid #fff;
}

.button_text{
  position: relative;
  z-index: 10;
  color: #fff;
  background: transparent;
  font-size: 1.2rem;
}


.button_content div{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin:auto;
  filter: blur(5px);
}

.button_shape1{
  background-color: var(--first-color);
  transform: translate(-48px, -16px);
  animation: shape1 6s 1s ease-out infinite;
}


.button_shape2{
  background-color: var(--second-color);
  transform: translate(-12px, 16px);
  animation: shape2 6s 1s ease-in infinite;

}

.button_shape3{
  background-color: var(--third-color);
  transform: translate(20px, -16px);
  animation: shape3 6s 1s ease-out infinite;

}

.button_shape4{
  background-color: var(--fourth-color);
  transform: translate(48px, 16px);
  animation: shape4 6s 1s ease-in infinite;

}

.button_shadow{
  width: 80%;
  height: 1rem;
  background: linear-gradient(80deg, 
                              var(--first-color) 10%,
                              var(--second-color)30%,
                              var(--third-color)60%,
                              var(--fourth-color)90%);
  border-radius: 4rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -2px;
  z-index: -1;
  filter: blur(12px);
  opacity: 0;
  transition: opacity .5s;
}

.button_shadow:hover{
  border: 0.15rem solid #fff;
}

.button:hover .button_shadow{
  opacity: 1;
}

/* Animate shapes */
@keyframes shape1{
  33%{
    transform: translate(-28px, 0);
  }
}

@keyframes shape2{
  33%{
    transform: translate(-28px, 28px);
  }
}

@keyframes shape3{
  33%{
    transform: translate(20px, 4px);
  }
}

@keyframes shape4{
  33%{
    transform: translate(48px, 0);
  }
}
